---
name: Release

on:
  push:
    branches:
      - main

jobs:
  Release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Release
        run: npm run release
        env:
          GH_TOKEN: ${{ secrets.GIT_USER_TOKEN }}
          GIT_AUTHOR_EMAIL: contact@elementary.io
          GIT_AUTHOR_NAME: "@elementaryBot"
          GIT_COMMITTER_EMAIL: contact@elementary.io
          GIT_COMMITTER_NAME: "@elementaryBot"
